/* Navbar Component CSS */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px; /* Fixed height for the navbar */
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1000;
}

/* Align the items in the navbar properly */
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline;
}

/* Style the logo */
.Logo {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
}

/* Style the search bar */
.search-bar {
  position: relative; /* Important for positioning the dropdown */
  display: flex;
  align-items: center;
  background-color: white;
  padding: 5px;
  border-radius: 4px;
}

.search-bar input {
  border: none;
  padding: 5px;
  font-size: 16px;
}

.search-bar .search-button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-bar .search-icon {
  width: 20px; /* Adjust as needed */
  height: 20px;
}

/* Style the suggestions list */
.suggestions-list {
  position: absolute;
  top: 100%; /* Position it below the search bar */
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000; /* Ensure it is above other elements */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
  color: black
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

/* Add this to your style.css */
.username {
  display: block;
  margin-top: 5px;
  font-size: 0.9em;
  color: #fff;
}
